# 2.14 Pandas. Дата и время

2.14.4 По данным с сообщениями о преступлениях в Бостоне определите, сколько сообщений было сделано 15-го июня 2015 года в промежуток с 8 до 9 часов утра.

In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/bykov-alexei/data-science-course/master/Pandas/crime.csv'

In [86]:
df = pd.read_csv(url, encoding='ANSI')
df.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182070945,619,Larceny,LARCENY ALL OTHERS,D14,808,NaN,2018-09-02 13:00:00,2018,9,Sunday,13,Part One,LINCOLN ST,42.357791,-71.139371,"(42.35779134, -71.13937053)"
1,I182070943,1402,Vandalism,VANDALISM,C11,347,NaN,2018-08-21 00:00:00,2018,8,Tuesday,0,Part Two,HECLA ST,42.306821,-71.060300,"(42.30682138, -71.06030035)"
2,I182070941,3410,Towed,TOWED MOTOR VEHICLE,D4,151,NaN,2018-09-03 19:27:00,2018,9,Monday,19,Part Three,CAZENOVE ST,42.346589,-71.072429,"(42.34658879, -71.07242943)"
3,I182070940,3114,Investigate Property,INVESTIGATE PROPERTY,D4,272,NaN,2018-09-03 21:16:00,2018,9,Monday,21,Part Three,NEWCOMB ST,42.334182,-71.078664,"(42.33418175, -71.07866441)"
4,I182070938,3114,Investigate Property,INVESTIGATE PROPERTY,B3,421,NaN,2018-09-03 21:05:00,2018,9,Monday,21,Part Three,DELHI ST,42.275365,-71.090361,"(42.27536542, -71.09036101)"

In [87]:
df['OCCURRED_ON_DATE'] = pd.to_datetime(df.OCCURRED_ON_DATE)

In [43]:
df[(df.OCCURRED_ON_DATE.dt.year == 2015) & (df.MONTH == 6) & (df.OCCURRED_ON_DATE.dt.day == 15) & (
    df.OCCURRED_ON_DATE.dt.hour.between(8, 9, inclusive='left'))]

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
315000,I152053893,619,Larceny,LARCENY ALL OTHERS,D4,172,NaN,2015-06-15 08:00:00,2015,6,Monday,8,Part One,ALBANY ST,42.334288,-71.072395,"(42.33428841, -71.07239518)"
315937,I152052877,724,Auto Theft,AUTO THEFT,B3,439,NaN,2015-06-15 08:00:00,2015,6,Monday,8,Part One,STRATTON ST,42.289285,-71.086678,"(42.28928493, -71.08667781)"
318470,I152049818,3201,Property Lost,PROPERTY - LOST,B2,327,NaN,2015-06-15 08:30:00,2015,6,Monday,8,Part Three,EMROSE TER,42.314605,-71.072075,"(42.31460520, -71.07207475)"
318515,I152049751,1402,Vandalism,VANDALISM,D4,137,NaN,2015-06-15 08:00:00,2015,6,Monday,8,Part Two,NEWBURY ST,42.349421,-71.083158,"(42.34942050, -71.08315800)"
318647,I152049548,3207,Property Found,PROPERTY - FOUND,A1,107,NaN,2015-06-15 08:20:00,2015,6,Monday,8,Part Three,FEDERAL ST,42.356133,-71.056635,"(42.35613296, -71.05663451)"
318659,I152049530,3410,Towed,TOWED MOTOR VEHICLE,C6,220,NaN,2015-06-15 08:54:00,2015,6,Monday,8,Part Three,OLD HARBOR ST,42.333788,-71.047472,"(42.33378771, -71.04747172)"
318663,I152049522,1402,Vandalism,VANDALISM,C11,337,NaN,2015-06-15 08:13:00,2015,6,Monday,8,Part Two,ROCK TER,42.306121,-71.071832,"(42.30612092, -71.07183167)"
318668,I152049511,801,Simple Assault,ASSAULT - SIMPLE,C11,257,NaN,2015-06-15 08:15:00,2015,6,Monday,8,Part Two,GLENDALE ST,42.313561,-71.065208,"(42.31356107, -71.06520779)"
318669,I152049509,413,Aggravated Assault,ASSAULT - AGGRAVATED - BATTERY,B2,322,NaN,2015-06-15 08:10:00,2015,6,Monday,8,Part One,WARREN ST,42.315031,-71.083440,"(42.31503085, -71.08344018)"
318671,I152049505,3803,Motor Vehicle Accident Response,M/V ACCIDENT - PERSONAL INJURY,D4,270,NaN,2015-06-15 08:33:00,2015,6,Monday,8,Part Three,HARRISON AVE,42.332102,-71.079283,"(42.33210200, -71.07928300)"
318674,I152049501,3125,Warrant Arrests,WARRANT ARREST,A1,123,NaN,2015-06-15 08:00:00,2015,6,Monday,8,Part Three,WASHINGTON ST,42.349973,-71.063488,"(42.34997256, -71.06348817)"
318675,I152049500,3006,Medical Assistance,SICK/INJURED/MEDICAL - PERSON,C11,356,NaN,2015-06-15 08:00:00,2015,6,Monday,8,Part Three,CHARLES ST,42.299909,-71.064248,"(42.29990887, -71.06424768)"

In [49]:
df.OCCURRED_ON_DATE.between('2015-06-15 08:00:00', '2015-06-15 09:00:00', inclusive='left').sum()

12

In [50]:
t1, t2 = pd.Timestamp(2015, 6, 15, 8), pd.Timestamp(2015, 6, 15, 9)
df.OCCURRED_ON_DATE.between(t1, t2, inclusive='left').sum()

2.14.5 По данным с сообщениями о преступлениях в Бостоне определите, сколько сообщений было сделано 15-го июня 2015 года в промежуток с 6 до 9 часов утра.

In [53]:
t1, t2 = pd.Timestamp(2015, 6, 15, 6), pd.Timestamp(2015, 6, 15, 9)
df.OCCURRED_ON_DATE.between(t1, t2, inclusive='left').sum()

22

2.14.6 По данным с сообщениями о преступлениях в Бостоне определите, сколько сообщений о вандализме было сделано первого января 2017 года.

In [77]:
t1 = pd.Timestamp(2017, 1, 1)
t2 = pd.Timestamp(2017, 1, 2)

In [79]:
((df.OFFENSE_DESCRIPTION == 'VANDALISM') & (df.OCCURRED_ON_DATE.between(t1, t2, inclusive='left'))).sum()

12

2.14.6 По данным с сообщениями о преступлениях в Бостоне определите, день 2017 года, когда было больше всего сообщений о вандализме.

In [104]:
t = df[(df.OFFENSE_CODE_GROUP == 'Vandalism') & (df.YEAR == 2017)]
print(t.OCCURRED_ON_DATE.dt.date.value_counts().idxmax())

2017-05-05